thead{
    color: black;
}

.delete-link {
    margin-left: 8px;
    color: red;
    cursor: pointer;
}

.custom-form {
  max-width: 400px;
  margin: 0 auto;
}

/* Formatering for bilde inpuot i create/update */
.form-group-extras {
  display: block;
  width: 35%;
}

.createRentalBtn{
  margin-left: 10px;
}
.createRentalBtn2{
  margin-right: 10px;
}
